.name{
     font-family: Luxurious Roman;
     font-size: 70px;
     text-align: center;
     color:     #000000;
}
.name2{
    text-align: center;
    color: #00FFFF;
}
.navbar {
  background-color: #000000 ;
  overflow: hidden;
    margin: 2em;
}
.navbar a {
    float: left;
    color: #00FFFF;
    text-align: center;
    padding: 25px 50px;
    text-decoration: none;
    font-size: 20px;
}
.navbar a:hover {
    background-color:#00FFFF;
    color: black;
}
.navbar a.home {
    background-color: #00FFFF;
    color: black;
}
    body{
        background: #707070;
    }

.container{
    display: flex;
    color:  #000000;
}
.services1{
    padding: 20px;
    width: 400px;
    height: 400px;
    margin: 30px auto;
    box-shadow: 0 5px 10px #FFFFFF;
    display: inline-block;

}
.img1{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.haircuts{
    font-size: 20px;
    text-align: center;

}
.services2{
    padding: 20px;
    width: 400px;
    height: 400px;
    margin: 30px  auto;
    box-shadow: 0 5px 10px #FFFFFF;
    display: inline-block;
}
.img2{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.modeling{
     font-size: 20px;
    text-align: center;
}
.services3{
    padding: 20px;
    width: 400px;
    height: 400px;
    margin: 30px auto;
    box-shadow: 0 5px 10px #FFFFFF;
    display: inline-block;
}
.img3{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.skincare{
     font-size: 20px;
    text-align: center;
}